/*
 * CSS FILE FOR:
 * jQuery Modal Window Plugin 1.0
 * Nikita Ivanov <dr.ivanov@nxt.ru>
 * Copyright 2013
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
*/

/* STYLE MWIN */
#mwin_fadebody {
	background: #fefefe;
	position: absolute;
	left:0; top:0;
	width: 100%; 
	opacity: 0.8;
	z-index: 9999;
}
#mwin_loader {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index:99999;
}
#mwin_close {
	width:20px;
	height:20px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index:99999;
	cursor: pointer;
}
#mwin_img_close { width: 20px; height: 20px; opacity: 0.5; }

/* WINDOW STYLE */
.window {
	/* GENERAL STYLE */
	display: none;
	position: absolute;
	z-index: 99999;
	top: 0; left: 0;
	margin: 0 auto;
	
	/* OTHER STYLE */
	background: #fff;
	width: 300px;
	height: 250px;
	padding: 10px;
	-webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
